.titulo {
    color: white;
    background-color: black;
    height: 100px;
    width: 300px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

h1 {
    margin-left: 20px;
}

.primeiraparte img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.texto {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.primeiraparte {
    width: 1200px;
    height: 200px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 20px;
    border-radius: 20px;
}

.momentos-importantes img {
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-top: 250px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    margin-left: 20px;
}
.filmes img{
    width: 200px;
    height: 300px;
    padding-left: 50px;
    margin-top: 80px;
}
h1{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    margin-top: 20px;
}
